#page-grid {
  display: grid;
  grid-template-areas:
    'title title title'
    'featured featured featured'
    'panel1 panel2 panel3';
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto 60% auto;
}

#title {
  grid-area: title;
}
#featured {
  grid-area: featured;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: 50px;
}

#panel1 {
  grid-area: panel1;
  margin: auto;
}

#panel2 {
  grid-area: panel2;
  margin: auto;
}

#panel3 {
  grid-area: panel3;
  margin: auto;
}
